/* inspiration from https://www.scottohara.me/blog/2021/09/24/custom-radio-checkbox-again.html */
input[type=checkbox] {
  appearance: none;
  border: 1px solid;
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  border-radius: 100%;
  vertical-align: text-bottom;
  position: relative;
}

input[type=checkbox][disabled],
input[type=checkbox][aria-disabled=true] {
  opacity: 0.4;
}

input[type=checkbox]::before {
  content: '';
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  top: 0;
}

input[type=checkbox] {
  border-radius: 10%;
}

input[type=checkbox]:indeterminate::before,
input[type=checkbox][aria-checked=mixed]::before {
  border: 2px solid;
  height: 0;
  width: 40%;
}

input[type=checkbox]:checked::before {
  border-right: 3px solid;
  border-bottom: 3px solid;
  height: 50%;
  width: 30%;
  transform: rotate(45deg) translateY(-20%) translateX(-10%);
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
