/.idea/
/.parcel-cache/
/dist/
/doc/
/img/

**/*.ico
**/*.jpg
**/*.jpeg
**/*.min.js
**/*.png
**/*.txt

/.editorconfig
/.gitattributes
/.gitignore
/.htaccess
/.prettierignore
/package.json
/package-lock.json
/site.webmanifest
