/* inspiration from: */
/* - https://www.digitalocean.com/community/tutorials/css-collapsible */
/* - https://stackoverflow.com/a/58648331 */

legend > label::before {
  content: '';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
}

.toggle-collapsible:checked + legend + .collapsible-content {
  display: flex;
  flex-flow: column wrap;
  gap: 0.25em;
}

.toggle-collapsible:checked + legend > label::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle-collapsible:checked + legend > label {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
  .toggle-collapsible:checked + legend + .collapsible-content {
    flex-flow: row wrap;
  }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
