/* inspiration from: */
/* - https://www.digitalocean.com/community/tutorials/css-collapsible */
/* - https://stackoverflow.com/a/58648331 */

legend:has(.toggle-collapsible) {
  width: 100%;
}

legend:has(.toggle-collapsible):focus,
legend:has(.toggle-collapsible):focus-visible,
legend:has(.toggle-collapsible):focus-within,
legend:has(.toggle-collapsible):hover {
  outline: 2px solid;
  outline-offset: 2px;
}

label:has(.toggle-collapsible):focus,
label:has(.toggle-collapsible):focus-visible,
label:has(.toggle-collapsible):focus-within,
label:has(.toggle-collapsible):hover {
  outline: none;
}

label:has(.toggle-collapsible)::before {
  content: '';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-left: 0.25em;
  margin-right: 0.7rem;
  transform: translateY(-2px);
}

legend:has(.toggle-collapsible:checked) + .collapsible-content {
  display: flex;
  flex-flow: column wrap;
  gap: 0.75em;
}

label:has(.toggle-collapsible:checked)::before {
  transform: rotate(90deg) translateX(-3px);
}

label:has(.toggle-collapsible:checked) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content {
  margin-top: 0.5em;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
  legend:has(.toggle-collapsible) {
    width: auto;
  }

  legend:has(.toggle-collapsible:checked) + .collapsible-content {
    flex-flow: row wrap;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
